.login {
  max-width: 40rem;
  margin: 0 auto;
  margin-top: 7.2rem;
}

.login__header {
  font-size: 3.2rem;
  text-align: center;
}

.login__header > h1 {
  font-size: inherit;
  color: #00b96b;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-top: 3.2rem;
}

.form-extra > p a{
  color: #00b96b;
}
